<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<p th:unless="${loans} and ${loans.size()}">No games checked out!</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Game</th>
        <th>Patron</th>
        <th>Date Checked Out</th>
        <th>Date Checked In</th>
    </tr>
    </thead>
    <tr th:each="loan : ${loans}" th:if="${loan.checkInDate != null}">
        <td th:text="${loan.gameCheckedOut.name}"></td>
        <td th:text="${loan.patron.firstName + ' ' + loan.patron.lastName}"></td>
        <td th:text="${loan.checkOutDate}"></td>
        <td th:text="${loan.checkInDate}"></td>
        <!--        <td><a th:href="@{/game/edit/{id}(id=${game.id})}">Edit</a></td>-->
    </tr>
</table>

</body>
</html>