<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post" action="/games/add">
    <div class="form-group">
        <label>Name:
            <input th:field="${game.name}" class="form-control">
        </label>
        <p class="error" th:errors="${game.name}"></p>
    </div>
    <div class="form-group">
        <label>Description:
            <input th:field="${game.gameDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${game.gameDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Minimum number of players:
            <input th:field="${game.gameDetails.minPlayers}" class="form-control">
        </label>
        <p class="error" th:errors="${game.gameDetails.minPlayers}"></p>
    </div>
    <div class="form-group">
        <label>Maximum number of players:
            <input th:field="${game.gameDetails.maxPlayers}" class="form-control">
        </label>
        <p class="error" th:errors="${game.gameDetails.maxPlayers}"></p>
    </div>
    <div class="form-group">
        <label>Storage Location
            <select th:field="${game.storageLocation}">
                <option th:each="storageLocation : ${locations}"
                        th:value="${storageLocation.id}"
                        th:text="${storageLocation.name}"></option>
            </select>
            <p class="error" th:errors="${game.storageLocation}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="hidden" th:value="0" th:field="${game.gameDetails.currentLoan}">
    </div>
    <div class="form-group">
        <input type="submit" value="Add Game to Library" class="btn btn-success">
    </div>
</form>

</body>
</html>