<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<div class="image-container">
    <image th:src="${game.gameDetails.coverImage}" th:alt="'Cover image for ' + ${game.name}"/>
</div>
<table class="table table-striped">
    <tr>
        <th>Description</th>
        <td th:text="${game.gameDetails.description}"></td>
    </tr>
    <tr>
        <th>Player Count</th>
        <td th:text="${game.gameDetails.minPlayers + '—' + game.gameDetails.maxPlayers}"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <div display="inline" th:each="tag : ${game.tags}">
                <form display="inline" th:action="@{remove-tag(gameId=${game.id},tagId=${tag.id})}" method="post">
                    <span th:text="${tag.displayName} + ' ' "></span>
                    <input type="hidden" th:value="${tag.id}">
                    <input type="hidden" th:value="${game.id}">
                    <input type="submit" class="btn btn-danger" value="Remove tag"/>
                </form>
            </div>
        </td>
    </tr>
</table>
<!--<a th:href="'/games/add-tag?gameId=' + ${game.id}">Add Tag</a>-->
<a th:href="'/games/edit/' + ${game.id}">Edit Game Details</a>
</body>
</html>