<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<form method="post" th:action="@{/games/edit}">
    <div class="form-group">
        <label>Name:
            <input type="text" name="name" class="form-control" th:value="${game.name}">
        </label>
    </div>
    <div class="form-group">
        <label>Description:
            <textarea name="description" class="form-control" th:value="${game.gameDetails.description}"></textarea>
        </label>
    </div>
    <div class="form-group">
            <input type="hidden" th:value="${game.id}" name="gameId" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Save Edits" class="btn btn-success">
    </div>
</form>

</body>
</html>